.settingIcon {
  position: fixed;
  font-size: 2rem;
  color: $bg-dark;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  transition: all 0.3;
  font-weight: bolder;
  z-index: 9999;
  &:hover {
    rotate: 30deg;
  }
  cursor: pointer;
}
.openingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: 999999999;
  button {
    bottom: 0;
    margin-bottom: 20%;

    z-index: 999999;
    color: $text-color;

    border: $border-color 3px solid;
    background-color: $bg-light;
    padding: 0.3rem;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    pointer-events: auto;
    transform: translateX(-50%);
    border-radius: 10px;
    animation: moveToCenter 0.3s ease-in reverse;
    cursor: pointer;
  }
}
.openingBackground {
  background-color: $bg-harsh;
  width: 100%;
  height: 100%;
  position: fixed;
}
.openingModal {
  background-color: $bg-dark;
  width: 40%;
  height: 60%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $text-color;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  h2 {
    color: $highlight;
    font-size: 1.5rem;
    margin: 0;
    margin-left: 0.2rem;
  }
  h1 {
    color: $text-color;
    font-size: 2rem;
    margin: 0 1rem;
  }
  input {
    height: 2rem;
    width: 8rem;
    font-size: 2rem;
  }
}
