.openingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: 999999999;
  @media (max-width: 768px) {
    transform: translateX(-67%);
  }
  button {
    bottom: 0;
    margin-bottom: 10%;

    z-index: 999999;
    color: $text-color;

    border: $border-color 3px solid;
    background-color: $bg-light;
    padding: 0.3rem;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    pointer-events: auto;
    transform: translateX(-50%);
    border-radius: 10px;
    animation: moveToCenter 0.3s ease-in reverse;
    cursor: pointer;
  }
}
.openingBackground {
  pointer-events: all;
  background-color: $bg-harsh;
  width: 100%;
  height: 100%;

  position: fixed;
  @media (max-width: 768px) {
    scale: 2;
  }
}
.openingModal {
  background-color: $bg-dark;
  width: 40%;
  height: 60%;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  pointer-events: all;
  transform: translate(-50%, -50%);
  color: $text-color;
  min-width: fit-content;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    padding: 1rem;
    width: 90%;
    height: 100%;
  }
}
.inputContainer {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px $highlight solid;

  h2 {
    color: $highlight;
    font-size: 1.5rem;
    margin: 0;
    margin-left: 0.2rem;
  }
  h1 {
    color: $text-color;
    font-size: 2rem;
    margin: 0 1rem;
  }

  input {
    height: 2rem;
    width: 8rem;
    font-size: 2rem;
    text-align: center;
  }
}
