.userList {
  position: fixed;
  top: 9rem;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  right: 1rem;
  padding: 0 1rem 1rem 1rem;
  z-index: 9999999;
  max-width: 250px;
  min-width: 190px;

  cursor: text;
  pointer-events: auto;
  border-radius: 1rem;

  &:hover {
    opacity: 0.9;
  }
}
.guestIcon {
  color: $text-color;
  background-color: transparent;
  border: none;
  padding: 0 0.5rem;
  width: calc(100% - 1rem);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;

  h2 {
    font-size: 1.5rem;
    overflow-x: hidden;
    max-width: 75%;
    margin: 0.5rem 0;
  }

  &:hover {
    border-top-color: $bg-dark;
    border-bottom-color: $bg-dark;
    background-color: $bg-harsh;
    text-shadow:
      0 0 1px $dark,
      0 0 2px $dark;
  }

  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  h3 {
    font-size: 1rem;
    color: $text-color;
  }
}

.userColorIcon {
  margin: 0 0.5rem;

  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
.usersContainer {
  max-height: 50vh;
  overflow-y: auto;
}
.shown {
  background-color: $bg-medium;
}
.transparent {
  background-color: transparent;
}
.removeUser {
  all: unset;
  margin-left: auto;
  width: 1rem;
  height: 1rem;
  img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    color: $sharp-red;
  }
}
