$bg-light: #4a4a5a;
$border-color: #1f1f20;
$text-color: #e0e0e0;
$bg-dark: #2e2e38;
$bg-medium: #3c3c4a;
$active-color: #6b7280;

.userList{
  position: fixed;
  background-color: #2e2e3872;
  top: 20%;
  display: flex;
}
.guestIcon {
  color: $text-color;
  background-color: $bg-medium;
  border: none;
  padding: 0.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 2%;

  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  h3 {
    font-size: 1rem;
  }
}