.layersContainer {
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  padding: 0.25rem 0.25rem 0.75rem 0.25rem;
  background-color: $bg-light;
  height: 100%;
  @media (max-width: 768px) {
    padding: 0.25rem 0.25rem 0.75rem 0.25rem;
  }

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $highlight;
    border-radius: 3px;
    margin: 0 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $text-color;
    border-radius: 3px;

    &:hover {
      background: $text-color;
    }
  }
}
.layerContainer {
  display: flex;
  align-items: center;
}
.gapLayer {
  all: unset;
  height: 3rem;
  width: 12rem;
  background-color: white;
  @media (max-width: 768px) {
    height: 2.1rem;
    width: 8.4rem;
  }
}
.layer {
  all: unset;
  color: $text-color;
  background-color: $bg-light;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1rem;
  width: 8rem;
  cursor: pointer;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 4px;
  border: solid $bg-dark 3px;
  transition: all 0.2s ease;
  position: relative;
  flex-shrink: 0;
  touch-action: none;
  @media (max-width: 768px) {
    height: 0.7rem;
    width: 5.6rem;
    padding: 0.35rem;
    gap: 0.35rem;
  }
  &:hover {
    background-color: $bg-light;
    transform: translateX(1px);
  }

  &.backGReen {
    background-color: $active-color;
    color: $text-color;
    border-color: $active-color;
  }

  .layerNameContainer {
    flex: 1;
    min-width: 0;

    .layerName {
      margin: 0;
      font-size: 1rem;
      cursor: text;
      font-weight: 520;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.2;
      @media (max-width: 768px) {
        font-size: 0.7rem;
        line-height: 0.84;
      }
    }
    .layerEdit {
      margin: 0;
      width: 100%;
      font-size: 1rem;
      cursor: text;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.2;
      @media (max-width: 768px) {
        font-size: 0.7rem;
        line-height: 0.84;
      }
    }
  }
}
