.layersContainer {
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  padding: 0.25rem 0.25rem 0.75rem 0.25rem;
  border-top: 2px $text-color solid;
  background-color: $bg-light;
  height: 100%;
  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $highlight;
    border-radius: 3px;
    margin: 0 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $text-color;
    border-radius: 3px;

    &:hover {
      background: $text-color;
    }
  }
}
.gapLayer {
  all: unset;
  height: 3rem;
  width: 12rem;
  background-color: white;
}
.layer {
  all: unset;
  background-color: $bg-medium;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  width: 12rem;
  color: $text-color;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.5rem;
  gap: 0.5rem;
  border: solid $border-color 1px;
  transition: all 0.2s ease;
  position: relative;
  flex-shrink: 0;
  touch-action: none;
  &:hover {
    background-color: $bg-light;
    transform: translateY(-1px);
  }

  &.backGReen {
    background-color: $active-color;
    color: $text-color;
    border-color: $active-color;
  }

  .layerNameContainer {
    flex: 1;
    min-width: 0;

    .layerName {
      margin: 0;
      font-size: 0.75rem;
      cursor: text;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.2;
    }
    .layerEdit {
      margin: 0;
     width: 100%;
      font-size: 0.75rem;
      cursor: text;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.2;
    }
  }
}
