.handleEnd {
  all: unset;
  cursor: pointer;
  background-color: $bg-dark;
  border-radius: 0 20px 20px 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: fit-content;
  border: $dark solid 2px;
  border-right: none;
  height: 3.5rem;

  @media (max-width: 768px) {
    height: 2.2rem;
    border-radius: 0 10px 10px 0;
  }
}
.textCopied {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background: $dark;
  color: $text-color;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}
