.addNewLayer {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .plusBTN {
    all: unset;
    background-color: $bg-light;
    color: $text-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease;
    font-weight: 2000;
    font-size: 2rem;
    margin-top: 0.3rem;
    &:hover {
      background-color: $bg-light;
      transform: scale(1.05);
    }
  }

  .layerNameInput {
    user-select: auto;
    background-color: $bg-light;
    border: $border-color solid 1px;
    border-radius: 6px;
    color: $text-color;
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
    outline: none;
    width: 8rem;

    &:focus {
      border-color: $active-color;
    }
  }
}
