.visibilityIcon {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;

  background-color: $bg-dark;

  &::after {
    content: "👁";
    font-size: 0.8rem;
    color: $text-color;
    transition: all 0.2s ease;
  }

  &.hidden {
    &::after {
      color: $bg-dark;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
