.visibilityIcon {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $bg-dark;
  font-size: 2rem;
  background-color: $bg-light;
  @media (max-width: 768px) {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0.14rem;
  }
  img {
    width: 1.4rem;
    @media (max-width: 768px) {
      width: 0.98rem;
    }
  }
  &.hidden {
    &::after {
      color: $bg-dark;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
