$bg-light: #4a4a5a;
$border-color: #5e5e70;
$text-color: #e0e0e0;

.topRightToolContainer {
  position: fixed;
  width: 3rem;
  z-index: 9999;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  right: 2rem;
  top: 4.5rem;
  .topArrowMenu {
    background-color: rgb(197, 197, 198);
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    span {
      display: block;
      line-height: 1;
    }
  }

  .subMenu {
    background-color: rgb(81, 81, 83);
    width: 40vw;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    z-index: 1;
    pointer-events: auto;
    position: relative;
    overflow: hidden;
    .onlineBtn {
      background-color: $bg-light;
      color: $text-color;
      border: 1px solid $border-color;
      border-radius: 4px;
      font-weight: 500;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      cursor: pointer;

      span {
        font-size: 2rem;
      }
    }
  }
}

.spinLoad {
  animation: Speeen 1s linear infinite ;
}
.spinFinish {
  animation: Speeen 2s forwards;
}
@keyframes Speeen {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
