.topRightToolContainer {
  position: fixed;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  right: 0rem;
  height: 3.5rem;
  width: 13rem;
  top: 5rem;
  z-index: 9999999;
  .buttonsContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .menuButton {
    z-index: 999999;
    margin-top: 0.5rem;
    border: $dark 3px solid;
    background-color: $bg-dark;
    color: $text-color;
    padding: 0.3rem;
    text-align: center;
    font-size: 1.5rem;
    width: 12rem;
    pointer-events: auto;
    transform: translateX(-50%);
    border-radius: 10px;
    animation: moveToCenter 0.3s ease-in reverse;
    cursor: pointer;
  }

  .menuIcon {
    color: $text-color;
    width: 3.5rem;
    border: $dark 3px solid;
    flex-shrink: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    position: absolute;
    right: 3rem;
    cursor: pointer;
    pointer-events: auto;
    z-index: 9999999;
    background-color: $bg-dark;
    margin: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .subMenu {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    right: 8rem;
    top: 5%;
    z-index: 999999999;
    pointer-events: auto;
    overflow: hidden;
    .onlineBtn {
      background-color: $bg-light;
      color: $text-color;
      border: 1px solid $border-color;
      border-radius: 4px;
      font-weight: 500;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      cursor: pointer;

      span {
        font-size: 2rem;
      }
    }
  }
}
.codeBar {
  height: 4rem;
  bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  color: $text-color;
  pointer-events: auto;
  z-index: 9999;
  width: 12rem;
  justify-content: end;
  transform: translateX(-50%);
  margin-right: 12rem;
  .roomIdBar {
    border: none;
    text-wrap: nowrap;
    text-align: center;
    width: 10rem;
    background-color: $bg-medium;
    cursor: text;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .handle {
    all: unset;
    align-items: center;
    background-color: $bg-dark;
    cursor: pointer;
    border-radius: 20px 0 0 20px;
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 100%;
    z-index: 9999;

    border-right: 1px $dark solid;
  }
}
.spinLoad {
  animation: Speeen 1s linear infinite;
}
.spinFinish {
  animation: Speeen 2s forwards;
}
@keyframes moveToCenter {
  100% {
    top: 0;
  }
}
@keyframes Speeen {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
