.toolbar {
  z-index: 9999999;
  position: relative;
  width: 250px;
  height: 100vh;
  background-color: rgb(122, 118, 118);
}

.mainToolContainer {
  background-color: rgb(100, 96, 96);
  position: relative;
  top: 1rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgb(80, 76, 76);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.toolContainer {
  background-color: rgb(100, 96, 96);
  position: relative;
  justify-content: space-evenly;
  top: 1rem;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgb(80, 76, 76);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.currentColorBox {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(80, 76, 76);
}
.colorBox {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(80, 76, 76);
}

.currentWidthSlider {
  width: 100%;
  background-color: rgb(80, 76, 76);
}
