.eventContainer {
  position: fixed;
  bottom: 0;
  width: 25rem;
  left: 20%;
  transform: translate(-50%);
  height: 7rem;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  @media (max-width: 768px) {
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
  }
}
.eventBar {
  color: $text-color;
  text-align: center;
  padding: 0.2rem;
  margin: 0 auto 0.5rem;
  font-size: 2rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  background: $bg-dark;
  border: 2px solid $dark;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem $dark;
  z-index: 10000;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
