.eventContainer {
  position: fixed;
  bottom: 0;
  width: 25rem;
  left: 20%;
  transform: translate(-50%);
  height: 7rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}
.eventBar {
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin: 0 auto 0.5rem;
  font-size: 2rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  background: rgb(25, 85, 170);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  z-index: 10000;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
