.scaleButtons {
  display: flex;
  width: fit-content;
  padding-left: 2rem;
  z-index: 99999;
}
.scaleButton {
  background: $bg-dark;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: $dark 1px solid;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0.2rem;
  margin-top: 0.5rem;
}
