.scaleButtons {
  display: flex;
  width: fit-content;
  padding-left: 2rem;
  z-index: 99999;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 8.3rem;
  @media (max-width: 768px) {
    top: 6.3rem;
  }
}
.scaleButton {
  pointer-events: all;

  background: $bg-dark;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: $dark 1px solid;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 0.2rem;
}
