.left {
  left: 0;
  right: unset;
  @media (max-width: 768px) {
    left: -10.5%;
  }
}
.right {
  right: 0;

  left: unset;
  @media (max-width: 768px) {
    right: -10.5%;
  }
}
.layerToolbarContainer {
  user-select: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  position: fixed;
  bottom: 10%;
  z-index: 999999;
  cursor: grab;
  @media (max-width: 768px) {
    scale: 0.7;
  }
}

.layersToolbar {
  overflow-x: hidden;

  width: 220px;
  display: flex;
  flex-direction: column;
  z-index: 999999;
  background-color: $bg-dark;
  border: $dark solid 3px;
  border-radius: 15px;
  height: 20rem;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  overflow-y: hidden;
}

.layerVisible {
  transform: translateX(-50%);

  transition: transform 0.3s ease-out;
}
.layerVisibleRight {
  transform: translateX(-50%);

  transition: transform 0.3s ease-out;
}
.layerHiddenRight {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.layerHiddenLeft {
  transform: translateX(90%);
  transition: transform 0.3s ease-out;
}
