.left {
  left: 0;
  right: unset;
}
.right {
  left: unset;
  right: 0;
}
.layerToolbarContainer {
  user-select: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  position: fixed;
  bottom: 10%;
  z-index: 999999;
  cursor: grab;
}

.layersToolbar {
  overflow-x: hidden;

  width: 230px;
  display: flex;
  flex-direction: column;
  z-index: 999999;
  background-color: $bg-dark;
  border: $border-color solid 2px;
  border-radius: 6px;
  height: 24rem;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  overflow-y: hidden;
}

.layerVisible {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.layerVisibleRight {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.layerHiddenRight {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.layerHiddenLeft {
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
