$bg-light: #4a4a5a;
$border-color: #1f1f20;
$text-color: #e0e0e0;
$bg-dark: #2e2e38;
$bg-medium: #3c3c4a;
$active-color: #6b7280;

.left {
  left: 0;
  right: unset;
}
.right {
  left: unset;
  right: 0;
}
.layerToolbarContainer {
  user-select: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  position: fixed;
  bottom: 10%;
  z-index: 999999;
  cursor: grab;
}

.layersToolbar {
  width: fit-content;
  width: 230px;
  display: flex;
  flex-direction: column;
  z-index: 999999;
  background-color: $bg-dark;
  border: $border-color solid 2px;
  border-radius: 6px;
  height: 24rem;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  overflow-y: hidden;

  .layersContainer {
    cursor: default;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.25rem;
    justify-content: flex-end;
    overflow-y: auto;
    padding: 0.25rem 0.25rem 0.75rem 0.25rem;
    border-top: 2px $text-color solid;
    background-color: $bg-light;
    height: 100%;
    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      margin: 0 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $text-color;
      border-radius: 3px;

      &:hover {
        background: #f4f4f4;
      }
    }
  }

}

.layerVisible {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.layerVisibleRight {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.layerHiddenRight {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.layerHiddenLeft {
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
