.deleteButton {
  all: unset;
  user-select: none;
  &:hover {
    scale: 1.1;
  }
  img {
    margin-top: 0.4rem;
    color: white;
    width: 0.8rem;
    height: 0.8rem;
    @media (max-width: 768px) {
      width: 0.56rem;
      height: 0.56rem;
    }
  }
}
