.brushToolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 10rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  justify-content: center;

  @media (max-width: 768px) {
    width: 8rem;
    height: 8rem;
    scale: 0.7;
  }
  .blackBorderWrapper {
    position: relative;
    border: $dark 1px solid;
    width: 4rem;
    height: 4rem;
    z-index: 9999;

    border-radius: 50%;
  }
  .brushIcon {
    border-radius: 50%;
    background-color: $bg-dark;
    width: 4rem;
    border: none;
    pointer-events: all;

    padding: 0.4rem;
    height: 4rem;
    cursor: pointer;
    transform: scaleX(-1);
    z-index: 9999;
    img {
      width: 70%;
      transform: scaleX(-1);
    }
  }
  .colorMenu {
    width: 3rem;
    background: linear-gradient(90deg, $bg-medium 0%);
    box-shadow:
      inset 3px 3px 8px $dark,
      inset -2px -2px 6px$highlight;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    transform: translate(0.5rem, -1rem);
    z-index: 4;
    border: 2px solid $bg-dark;
    position: fixed;
  }
  .opacitySetBar {
    width: 11rem;
    height: 11rem;
    margin-left: -3.5rem;
    margin-top: -7.5rem;
    border-radius: 50%;
    border: none;
    background: transparent;
    padding: 0;
    z-index: 9999;
    transform-origin: center;
    display: flex;
    .opacityHandle {
      position: relative;
      border-radius: 50%;
      width: 1.3rem;
      pointer-events: all;

      padding: 0.2rem;
      height: 1.3rem;
      margin: auto;
      border: solid 1px transparent;
      cursor: pointer;
      z-index: 999999;
      transform: translate(3.15rem);
      background-color: $text-color;
    }
  }

  .arcSvg {
    position: absolute;
    z-index: 9999;
    width: 500px;
    height: 300px;
    transform-origin: center;
    mask: linear-gradient(180deg, black, transparent);
    -webkit-mask: linear-gradient(180deg, black, transparent);
  }

  .arcCircle {
    fill: none;
    stroke: rgba(0, 0, 0, 0.7);
    stroke-width: 1.5rem;
    stroke-dasharray: 157 314;
    stroke-linecap: round;
    transform-origin: center;
    transform: translate(-12.8rem, 5.65rem) rotate(130deg);
  }

  .brushSizeDisplay {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    font-size: 1.5rem;
    h3 {
      margin: 0;
      pointer-events: none;
    }
    text-shadow:
      -1px -1px 0 $dark,
      1px -1px 0 $dark,
      -1px 1px 0 $dark,
      1px 1px 0 $dark;
  }
}
.brushSizeDisplay {
  color: $text-color;
}

.highlightedText {
  color: $highlight;
}
