.brushToolbar {
  position: fixed;
  top: 4rem;
  left: 2rem;
  z-index: 999999;
  .blackBorderWrapper {
    position: relative;
    border: $dark 1px solid;
    width: 4rem;
    height: 4rem;
    z-index: 9999;

    border-radius: 50%;
  }
  .brushIcon {
    border-radius: 50%;
    background-color: $bg-dark;
    width: 4rem;
    border: none;
    padding: 0.2rem;
    height: 4rem;
    cursor: pointer;
    transform: scaleX(-1);
    z-index: 9999;
  }
  .colorMenu {
    width: 3rem;
    background: linear-gradient(90deg, $bg-medium 0%);
    box-shadow:
      inset 3px 3px 8px $dark,
      inset -2px -2px 6px$highlight;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    transform: translate(0.5rem, -1rem);
    z-index: 4;
    border: 2px solid $bg-dark;
    position: fixed;
    .pastColorElement {
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
      cursor: pointer;
      margin-top: 0.5rem;

      border: 1px $dark solid;
      border-radius: 50%;
    }
  }
  .sizeSetBar {
    width: 5.5rem;
    height: 5.5rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 50%;
    transform: translate(-2.75rem, -2.75rem);
    border: none;
    background: transparent;
    padding: 0;
    z-index: 9999;
    .sizeHandle {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      cursor: pointer;
      right: -0.75rem;
      transform: translateY(-50%);
      z-index: 9999;
      border: 1px solid $border-color;
      background-color: $bg-dark;
    }
  }
  .brushSizeInput {
    position: absolute;
    top: 2rem;
    left: 4rem;
    z-index: 99999;
  }
  .colorOfSlider {
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 50%;
    transform: translate(-3.5rem, -3.5rem);
    border: none;
    padding: 0;

    z-index: 4;

    background: conic-gradient(
      from 0deg,
     $active-color 0deg,
      $bg-light 30deg,
      transparent 30deg,

      transparent 220deg,
      $bg-light 220deg,

     $active-color 230deg,

      $active-color 344deg
    );
  }
  .brushSizeDisplay {
    position: fixed;
    z-index: 99999;
    color: $text-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    font-size: 1.5rem;
    h3 {
      margin: 0;
      pointer-events: none;
    }
    text-shadow:
      -1px -1px 0 $dark,
      1px -1px 0 $dark,
      -1px 1px 0 $dark,
      1px 1px 0 $dark;
  }
}
