.brushToolbar {
  position: fixed;
  top: 4rem;
  left: 2rem;
  z-index: 999999;
  .blackBorderWrapper {
    position: relative;
    border: black 1px solid;
    width: 4rem;
    height: 4rem;
    z-index: 9999;

    border-radius: 50%;
  }
  .brushIcon {
    border-radius: 50%;
    background-color: rgb(36, 36, 38);
    width: 4rem;
    border: none;
    padding: 0.2rem;
    height: 4rem;
    cursor: pointer;
    transform: scaleX(-1);
    z-index: 9999;
  }
  .colorMenu {
    width: 3rem;
    background: linear-gradient(90deg, #3d3d3d 0%);
    box-shadow:
      inset 3px 3px 8px rgba(0, 0, 0, 0.6),
      inset -2px -2px 6px rgba(255, 255, 255, 0.1);
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    transform: translate(0.5rem, -1rem);
    z-index: 4;
    border: 2px solid rgb(57, 57, 57);
    position: fixed;
    .pastColorElement {
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
      cursor: pointer;
      margin-top: 0.5rem;

      border: 1px black solid;
      border-radius: 50%;
    }
  }
  .sizeSetBar {
    width: 5.5rem;
    height: 5.5rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 50%;
    transform: translate(-2.75rem, -2.75rem);
    border: none;
    background: transparent;
    padding: 0;
    z-index: 9999;
    .sizeHandle {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      cursor: pointer;
      right: -0.75rem;
      transform: translateY(-50%);
      z-index: 9999;
      border: 1px solid rgb(179, 179, 179);
      background-color: #232323;
    }
  }
  .brushSizeInput {
    position: absolute;
    top: 2rem;
    left: 4rem;
    z-index: 99999;
  }
  .colorOfSlider {
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 50%;
    transform: translate(-3.5rem, -3.5rem);
    border: none;
    padding: 0;

    z-index: 4;

    background: conic-gradient(
      from 0deg,
      rgb(96, 96, 96) 0deg,
      rgb(72, 71, 71) 30deg,

      transparent 30deg,

      transparent 220deg,
      rgb(72, 71, 71) 220deg,

      rgb(96, 96, 96) 230deg,

      rgb(96, 96, 96) 344deg
    );
  }
  .brushSizeDisplay {
    position: fixed;
    z-index: 99999;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    font-size: 1.5rem;
    h3 {
      margin: 0;
      pointer-events: none;
    }
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }
}
