.brushToolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .blackBorderWrapper {
    position: relative;
    border: $dark 1px solid;
    width: 4rem;
    height: 4rem;
    z-index: 9999;

    border-radius: 50%;
  }
  .brushIcon {
    border-radius: 50%;
    background-color: $bg-dark;
    width: 4rem;
    border: none;
    padding: 0.2rem;
    height: 4rem;
    cursor: pointer;
    transform: scaleX(-1);
    z-index: 9999;
  }
  .colorMenu {
    width: 3rem;
    background: linear-gradient(90deg, $bg-medium 0%);
    box-shadow:
      inset 3px 3px 8px $dark,
      inset -2px -2px 6px$highlight;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    transform: translate(0.5rem, -1rem);
    z-index: 4;
    border: 2px solid $bg-dark;
    position: fixed;
    .pastColorElement {
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
      cursor: pointer;
      margin-top: 0.5rem;

      border: 1px $dark solid;
      border-radius: 50%;
    }
  }
  .sizeSetBar {
    width: 5.5rem;
    height: 5.5rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    border-radius: 50%;
    border: none;
    background: transparent;
    padding: 0;
    z-index: 9999;
    .sizeHandle {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 30%;
      border: solid 1px $text-color;
      cursor: pointer;
      right: -0.75rem;
      z-index: 999999;
      background-color: $bg-dark;
    }
  }
  .brushSizeInput {
    position: absolute;
    top: 2rem;
    left: 4rem;
    z-index: 99999;
  }
  svg {
    position: absolute;
    z-index: 9999;
    width: 500;
    height: 300;
    transform-origin: center;
    mask: linear-gradient(180deg, black, transparent);
    -webkit-mask: linear-gradient(180deg, black, transparent);
    fill: rgb(189, 153, 110);
    circle {
      cx: 50;
      cy: 50;
      r: 50;
      fill: none;
      transform-origin: center;
    }
    circle:nth-child(1) {
      stroke: rgba(0, 0, 0, 0.7);
      stroke-width: 1.5rem;
      stroke-dasharray: 160 314;
      stroke-linecap: round;
      transform-origin: center;
      transform: translate(-5.2rem, 3.8rem) rotate(130deg);
    }
  }

  .brushSizeDisplay {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    font-size: 1.5rem;
    h3 {
      margin: 0;
      pointer-events: none;
    }
    text-shadow:
      -1px -1px 0 $dark,
      1px -1px 0 $dark,
      -1px 1px 0 $dark,
      1px 1px 0 $dark;
  }
}
.brushSizeDisplay {
  color: $text-color;
}

.highlightedText {
  color: $highlight;
}
