.lockedLock {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    width: 0.84rem;
    height: 0.84rem;
  }
}

.openLock {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    width: 0.84rem;
    height: 0.84rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
