.lockedLock {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: url("./assets/lockClosed.svg");
    font-size: 1rem;
    transition: all 0.2s ease;
  }
}

.openLock {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "\1F513";
    font-size: 1rem;
    transition: all 0.2s ease;
  }
}
