.toLeft {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 3px solid $dark;

  border-left: none;
  left: 100%;
}
.toRight {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 3px solid $dark;

  border-right: none;
  right: 100%;
}
img {
  width: 0.8rem;
}
.layerImg {
  width: 2rem;
  margin-bottom: 0.5rem;
}
.hideLayersButton {
  background-color: $bg-medium;
  color: $text-color;
  position: absolute;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
  height: 5rem;
  width: 2.5rem;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
