.toLeft {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 3px solid $dark;

  border-left: none;
  left: 100%;
}
.toRight {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 3px solid $dark;

  border-right: none;
  right: 100%;
}
img {
  width: 0.8rem;
  width: 0.56rem;
   @media (max-width: 768px) {
    width: 0.84rem;
    height: 0.84rem;
  }
}
.layerImg {
  width: 2rem;
  margin-bottom: 0.5rem;
  @media (max-width: 768px) {
    width: 1.4rem;
    margin-bottom: 0.35rem;
  }
}
.hideLayersButton {
  background-color: $bg-medium;
  color: $text-color;
  position: absolute;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
  height: 5rem;
  width: 2.5rem;
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    height: 3.5rem;
    width: 1.75rem;
    font-size: 0.84rem;
    padding: 0.35rem;
  }
}
