.leaveButton {
  height: fit-content;
  position: absolute;
  left: 3rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  color: red;
  pointer-events: auto;
  background-color: transparent;
  border: none;
  z-index: 9999;

  h2 {
    cursor: pointer;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    transform: scaleX(-1);
    &:hover {
      scale: 1.1;
    }
  }
}
