.guestMouseContainer {
  position: fixed;
  user-select: none;
  transform: translate(-10%, -60%);
  z-index: 9;
  h2 {
    background-color: $mouse;
  }
  img{
    width: 50px;
    height: 50px;
  }
}
