.guestMouseContainer {
  position: fixed;
  user-select: none;
  transform: translate(-10%, -60%);
  z-index: 999999999;
  h2 {
    background-color: rgba(76, 73, 73, 0.363);
  }
  img{
    width: 50px;
    height: 50px;
  }
}
