body {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

#root {
  background-color: bisque;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
}

#rot {
  background-color: white;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
