body {
  margin: 0;
  padding: 0;
  background-color:  rgb(88, 85, 85);
}

#root {
  background-color: rgb(88, 85, 85);
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
}

#rot {
  background-color: rgb(88, 85, 85);
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
