$bg-dark: #2e2e38;
$bg-medium: #3c3c4a;
$bg-light: #4a4a5a;
$border-color: #5e5e70;
$accent: #3877aa;
$highlight: #cfd8dc;
$text-color: #e0e0e0;

.onlineContainer {
  justify-content: space-evenly;
   position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 20vw;
  max-width: 470px;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  background-color: $bg-medium;
  border: 1px solid $border-color;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  color: $text-color;
  .XBtn {
  font-size: 2rem;
  color: $accent;
  position: absolute;
  top: 0;
  right:0;
  text-align: right;
  margin: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
   input {
    margin-top: -1.7rem;
    font-size: 2rem;
  }
  .actionButton {
    background-color: $bg-light;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-weight: 500;
    margin: 1rem;

    padding: 1rem;
    cursor: pointer;
    transition:
      background-color 0.2s,
      transform 0.1s;

    &:hover {
      background-color: $accent;
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
.modal {
  position: fixed;
  width: 40vw;
  height: 40svh;
  background-color: $bg-medium;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
 
}
.guestIcon {
  color: $text-color;
  background-color: $bg-medium;
  border: none;
  padding: 0.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 2%;

  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  h3 {
    font-size: 1rem;
  }
}
.userColorIcon {
  margin: 0 0.5rem;

  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.backGround {
  position: fixed;
  width: 100%;
  height: 100svh;
  top: 0;
  left: 0;

  border: none;
  background-color: #2e2e3863;
}


.submitBtn {
  position: relative;
  bottom: 0;
  margin: 1rem;
  background-color: $bg-light;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.1s;

  &:hover {
    background-color: $accent;
    transform: scale(1.03);
  }
}
.roomAddress {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
}
.onlineTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
