.onlineContainer {
  justify-content: space-evenly;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20rem;
  max-width: 470px;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  background-color: $bg-medium;
  border: 1px solid $border-color;
  box-shadow: inset 2px 2px 4px $dark;
  border-radius: 2px;
  color: $text-color;
  min-width: 200px;
  z-index: 9999999999999;
  .darkenBg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 300vw;
    height: 300vh;
    background-color: rgba(0, 0, 0, 0.315);
    transform: translate(-50%, -20%);
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
  @media (max-width: 768px) {
    width: 20rem;
    height: 30rem;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-100%);
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
  }
  hr {
    border: none;
    height: 2px;
    background-color: $border-color;
    margin: 0.5rem 0;
  }

  h1 {
    margin: 0;
    text-align: center;
    padding: 0;
  }
  .XBtn {
    font-size: 2rem;
    color: $accent;
    width: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  input {
    margin-top: -1.7rem;
    font-size: 2rem;
  }
  .connectionDots {
    display: flex;
    flex-direction: row;
    height: 100%;
    div {
      animation: dotsLoader 1s linear infinite;
      margin: 0 0.2rem;
      font-size: 1.2rem;
    }
    div:nth-child(1) {
      animation-delay: 0s;
    }
    div:nth-child(2) {
      animation-delay: 0.3s;
    }
    div:nth-child(3) {
      animation-delay: 0.3s;
    }
  }
  .actionButton {
    background-color: $bg-light;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-weight: 500;
    margin: 1rem;

    padding: 1rem;
    cursor: pointer;
    transition:
      background-color 0.2s,
      transform 0.1s;

    &:hover {
      background-color: $accent;
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
.modal {
  position: fixed;
  width: 40vw;
  height: 40svh;
  background-color: $bg-medium;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999999;
}

.backGround {
  position: fixed;
  width: 100%;
  height: 100svh;
  top: 0;
  left: 0;
  z-index: 99999999;
  border: none;
  background-color: $bg-harsh;
}

.submitBtn {
  z-index: 99999999;
  position: relative;
  bottom: 0;
  margin: 1rem;
  background-color: $bg-light;
  color: $text-color;
  border: 1px solid $dark;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.1s;

  &:hover {
    background-color: $accent;
    transform: scale(1.03);
  }
}
.roomAddress {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
}
.onlineTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
@keyframes dotsLoader {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}
