.onlineContainer {
  justify-content: space-evenly;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 20vw;
  max-width: 470px;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  background-color: $bg-medium;
  border: 1px solid $border-color;
  box-shadow: inset 2px 2px 4px $dark;
  border-radius: 2px;
  color: $text-color;
  hr {
    border: none;
    height: 2px;
    background-color: $border-color;
    margin: 0.5rem 0;
  }

  h1 {
    margin: 0;
    text-align: center;
    padding: 0;
  }
  .XBtn {
    font-size: 2rem;
    color: $accent;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  input {
    margin-top: -1.7rem;
    font-size: 2rem;
  }
  .actionButton {
    background-color: $bg-light;
    color: $text-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    font-weight: 500;
    margin: 1rem;

    padding: 1rem;
    cursor: pointer;
    transition:
      background-color 0.2s,
      transform 0.1s;

    &:hover {
      background-color: $accent;
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
.modal {
  position: fixed;
  width: 40vw;
  height: 40svh;
  background-color: $bg-medium;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.backGround {
  position: fixed;
  width: 100%;
  height: 100svh;
  top: 0;
  left: 0;

  border: none;
  background-color: $dark-gray;
}

.submitBtn {
  position: relative;
  bottom: 0;
  margin: 1rem;
  background-color: $bg-light;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.1s;

  &:hover {
    background-color: $accent;
    transform: scale(1.03);
  }
}
.roomAddress {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
}
.onlineTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
