$bg-dark: #2e2e38;
$bg-medium: #3c3c4a;
$bg-light: #4a4a5a;
$border-color: #5e5e70;
$accent: #3877aa;
$highlight: #cfd8dc;
$text-color: #e0e0e0;
$active-color: #6b7280;
$dark: #000000;
$bg-harsh: #626f8a42;
$dull-red: #8d0404;
$sharp-red: #ff0000;
$bg-bar: #43434b;
$dark-purple: #1b1b20;
$gradient-first: #484747;
$gradient-second: #606060;
$toolbar-bg: #242426;
$toolbar-border: #393939;
$toolbar-shadow-dark: #00000099;
$toolbar-shadow-light: #ffffff1a;
$menu-gradient-start: #3d3d3d;
$menu-gradient-end: #606060;
$handle-bg: #232323;
$handle-border: #b3b3b3;
$display-text: #e0e0e0;
$text-shadow-color: #000000;
$bg-blue: #1955aa;
$border-bright: #ffffff4d;
$mouse: #4c49495d;
$light-purple: #525262;
$bright-purple:#5a5f6b;
$dark-gray:#2e2e3863;
$al-white:#f0f8ff;