$bg-dark: #282828;
$bg-medium: #272727;
$bg-light: #4d4d4d;
$border-color: #5e5e70;
$accent: #3877aa;
$highlight: #98c7db;
$text-color: #ffffff;
$active-color: #272728;
$dark: #000000;
$bg-harsh: #626f8a42;
$dull-red: #8d0404;
$sharp-red: #ff0000;
